Repository mujaxso/MujaOS, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, configuration, tests, github-actions, nix

fix: github action missing Dockerfile
  .github/workflows/ci.yml
  Dockerfile
Labels: configuration, github-actions

fix: docker github action
  .github/workflows/ci.yml
  .github/workflows/docker-nix.yml
  flake.nix
Labels: configuration, github-actions, nix

refactor: simplify flake.nix by removing docker image outputs
  flake.nix
Labels: nix

feat: add package definition and fix flake inputs
  flake.nix
Labels: nix

feat: add Nix build and flake check to CI workflows
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Labels: configuration, github-actions

fix: remove missing xwaylandvideobridge package from hyprland config
  modules/desktop/hyprland/modules/packages.nix
Labels: nix

refactor: update git module to use new settings format
  modules/programs/git.nix
Labels: nix

feat: add mujaos package to flake outputs
  flake.nix
Labels: nix

feat: build multiple NixOS configurations in CI
  .github/workflows/ci.yml
  .github/workflows/docker-nix.yml
  .github/workflows/pr.yml
  flake.nix
Labels: configuration, github-actions, nix

feat: update Dockerfile to build laptop NixOS configuration
  Dockerfile
Labels: none

fix: update dwm source hash to match fetched content
  modules/desktop/suckelss/dwm.nix
Labels: nix

fix: remove obs-vertical-canvas plugin due to build failure
  modules/programs/videos/obs.nix
Labels: nix

ci: update workflow to use flake inputs and show versions
  .github/workflows/ci.yml
  flake.nix
Labels: configuration, github-actions, nix

fix: update docker platform matrix and use unstable tag
  .github/workflows/docker.yml
  Dockerfile
Labels: configuration, github-actions

chore: simplify build to x86_64-linux only
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  flake.nix
Labels: configuration, github-actions, nix

remove docker files
  .github/workflows/docker.yml
  Dockerfile
Labels: configuration, github-actions

Update
  flake.lock
Labels: nix

chore: optimize workflows for disk space and reliability
  .github/workflows/code-quality.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
Labels: configuration, github-actions

chore: remove build steps and improve whitespace check
  .github/workflows/code-quality.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
Labels: configuration, github-actions

.github/labeler.yml:

---
documentation:
  - '**/*.md'
  - 'docs/**/*'

dependencies:
  - 'package.json'
  - 'Cargo.toml'
  - 'go.mod'
  - 'requirements.txt'
  - 'build.zig.zon'

configuration:
  - '**/*.yml'
  - '**/*.yaml'
  - '**/*.toml'
  - '**/*.json'
  - '**/*.ini'
  - '**/*.conf'

tests:
  - 'tests/**/*'
  - '**/*.test.*'
  - '**/*.spec.*'

github-actions:
  - '.github/workflows/**/*'
  - '.github/actions/**/*'

nix:
  - '**/*.nix'
  - 'flake.lock'
